*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container-8{
    width: 100%;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery-8{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 30px;
}
.gallery-8 img{
    width: 100%;
}